<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/result" method="POST">
        <p><b>Name</b> <input type='text' id='name' name='name' /></p>
        <p><b>Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p><b>Programming Languages</b></p>
            <label><input type="checkbox" name="Programming Languages" value="Python"> <b>Python</b></label>
            <label><input type="checkbox" name="Programming Languages" value="Java"> <b>Java</b></label>
            <label><input type="checkbox" name="Programming Languages" value="HTML"> <b>HTML</b></label>
            <label><input type="checkbox" name="Programming Languages" value="C++"> <b>C++</b></label>
        <p><button type='submit' name='submit' value='submit'>submit</button></p>
    </form>
</body>
</html>